.nav {
  background: #beeec9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

.New form {
  margin: auto;
  width: 95%;
}

input[type],
text {
  display: block;
  width: 75%;
  margin: auto;
}


input[type="submit"] {
  width: 30%;
  cursor: pointer;
  
}

.showNavigationEdit {
  display: flex;
  justify-content:center;
  padding-left: 25%;
  width: 50%;
  
}

.showNavigation :hover {
  cursor: pointer;
  transform: scale(1.25);
  opacity: 0.9;
}

.details {
 
  border:1px solid #ccc;
  border-radius: 5px;
  background-color: #eafdf2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right:25% ;
}

.link{
  text-decoration: none;
  color: #787d79;
}

button {
  text-decoration: none;
}

.center {
  display: flex;
justify-content: center;
}

.btnNewForm {
 margin-top: 25px;
  margin-left: 45%;
}
.btnNewForm:hover {
  cursor: pointer;
  transform: scale(1.25);
  opacity: 0.9;
  background-color: #beeec9;
}


.main {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #4e524f;
  border: 1px solid rgb(192, 190, 190);
  background-color: #eafdf2;
  border-radius: 5px;
  width: 50%;
  margin-left: 25%;
}
.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; 
  border-bottom: 1px solid #ccc; 
}

.cell {
  flex: 1; 
  text-align: center; 
  padding: 5px; 
}

.cell.date {
  flex: 2; 
}

.cell.category {
  flex: 4; 
}

.cell.amount {
  flex: 2; 
}


.transaction:last-child {
  border-bottom: none; 
}


table {
  width: 75%;
  margin: auto;
}

td {
  text-align: center;
}

.linkTran {
  color: #6fa2be;
}

span {
  color: #3ec45d;
}